@using Inceptum.AppServer.Management.Resources
@resource Inceptum.AppServer.Management.Resources.AppsPage


<!DOCTYPE html>
<html>
    <head>
        <title>Приложения</title>
        <link href="/css/reset.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="/css/site.css">
        <script src="/js/jquery-1.6.2.min.js" type="text/javascript"> </script>
        <script src="/js/jquery-ui-1.8.14.min.js" type="text/javascript"> </script>
  
    </head>

    <body>

        <div id="page">
            <div id="navbar-container">
                <div class="logo"><img src="/images/logo.png" alt="logo"/></div>
                <ul id="navbar">
                    <li><a href="/server">Сервер</a></li>           
                    <li class="selected"><a href="/apps">Приложения</a></li>
                    <li><a href="/conf">Конфигурация</a></li>
                </ul>
            </div>
            <div id="main">
                <div id="main-content"> 
                <h1>Приложения</h1>
                    <table  id="appGrid">
                        @foreach (HostInfo host in Resource.Hosts)
                        {
                            <tr><td>@host.MachineName</td><td colspan="2"></td></tr>
                            <tr><td></td><td>@host.Name</td><td colspan="2"></td></tr>
                            foreach (Application app in host.Apps)
                            {
                                <tr><td></td><td></td><td class='status @(app.IsStarted?"active":"inactive")'>@app.Name</td><td><a class="switch-app" app="@app.Name" href="#">@(app.IsStarted?"Stop":"Start")</a></td></tr>
                            }
                        }
                    </table>
                </div>
            </div>
        </div>

        <script language="javascript">

            $(document).ready(function () {

                $('a.switch-app').button().click(function () {
                    var a = $(this);
                    a.parent().prev().addClass("pending");
                    
                    /*var href = a.attr('href');
                    a.removeAttr('href');*/
                    $.ajax({
                        url: '/apps/switch',
                        type: 'POST',
                        data: ({ app: $(this).attr("app") }),
                        complete: function () { a.parent().prev().removeClass("pending")/*.attr('href',href)*/; },
                        success: function () {
                            var started = a.text() == "Stop";
                            a.text(started ? "Start" : "Stop");
                            a.parent().prev().removeClass("active");
                            a.parent().prev().removeClass("inactive");
                            a.parent().prev().addClass(started ? "inactive" : "active");
                        }
                    });

                });

            });
        
        
        
        </script>
    </body>
</html>

